.max-w-none {
  max-width: none;
}
.max-w-xs {
  max-width: 20rem;
}
.max-w-sm {
  max-width: 24rem;
}
.max-w-md {
  max-width: 28rem;
}
.max-w-lg {
  max-width: 32rem;
}
.max-w-xl {
  max-width: 36rem;
}
.max-w-2xl {
  max-width: 42rem;
}
.max-w-3xl {
  max-width: 48rem;
}
label {
  display: block;
  /* margin-top: 10px; */
}
.bg-highlight-red {
  background-color: #ff7276 !important;
  color: #fff !important;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.userProfileContainer {
  min-width: 120px !important;
}

.d-none {
  display: none;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}
.tooltip-container {
  position: relative;
}

.tooltip-box {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: calc(100% + 5px);
  display: none;
}

.tooltip-box.visible {
  display: block;
}

.tooltip-arrow {
  position: absolute;
  top: -10px;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}
.opt-text-box-w {
  width: 4em !important;
  height: 39.33px !important;
}
.sub-section-display {
  padding: 10px;
  border: 1px solid #ccc;
}
.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}
.carousel.control-dots {
  z-index: 2 !important;
}

.highlighted {
  background-color: yellow;
}

.recharts-surface {
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.app-sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all;
}

.app-sidebar .app-sidebar-content {
  flex: 1;
}

.app-sidebar .app-sidebar-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.app-sidebar .app-sidebar-resizer:hover {
  width: 3px;
  /* background: #c1c3c5b4; */
}

.Embed-container {
  height: 500px;
  width: 800px;
}
.react-datepicker__close-icon::after {
  cursor: pointer;
  line-height: 1;
  content: "×";
  color: red;
  font-size: 46px;
  font-weight: 220;
  position: absolute;
  top: -8px;
  right: 44px;
  background: none;
}

a {
  text-decoration: none !important;
}

.ldio-yoj2w479tp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yoj2w479tp div {
  box-sizing: content-box;
}
.react-datepicker-wrapper {
  width: 100%;
}
/*loading style end*/

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tn-t-min-50 {
  transform: translate(-50%, -50%) !important;
}

.recharts-wrapper * {
  outline: none !important;
}

.css-1s2u09g-control {
  background: transparent !important;
}
/* Tabs Custom */
.rts___tabs {
  padding: 0;
  display: flex;
  overflow: auto;
}
.rts___btn {
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 15px 10px;
  margin: 0;
  background: #f5f5f5;
  position: relative;
}
.rts___btn:hover {
  background: #fff;
  border-bottom: none;
}
.rts___btn:hover:before {
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  right: -1px;
  height: 2px;
  background: #ff0000;
}
.rts___tab {
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  color: darkgray;
  text-align: center;
}
.rts___tab___selected:hover {
  color: black;
}
.rts___tab___selected {
  position: relative;
  background: #fff;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  color: black;
}
.rts___tab___selected:before {
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  right: -1px;
  height: 2px;
  background: #ff0000;
}
.rts___nav___btn {
  background: #fff;
}
.rts___nav___btn:hover:before {
  display: none;
}
.rts___left___nav___btn {
  border-radius: 0.375rem 0 0 0;
}
.rts___right___nav___btn {
  border-radius: 0 0.375rem 0 0;
}
/* Tabs Custom */
/* Date Picker Custom */
.react-datepicker {
  font-family: "Raleway", sans-serif;
}
.react-datepicker__navigation-icon {
  font-size: 0.75rem;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover,
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #ff0000;
  color: #fff;
}
/* Date Picker Custom */
@media only screen and (max-width: 1032px) {
  .expBtnHideForSm {
    visibility: hidden;
  }
}
